@model IEnumerable<WebApplication1.Models.User>

@{
    ViewBag.Title = "Login";
}

<h2>Index</h2>

@if (Session["UserID"] == null)
{
    <p>
        @Html.ActionLink("Create New", "Register")
    </p>
    <p>
        @Html.ActionLink("Login", "Login")
    </p>
}
@if (Session["UserID"] != null){
    <p>
        @Html.ActionLink("Home", "LoggedIn")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>

        </tr>
    }

</table>
